*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {

    max-width: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 2rem;
    background-color: rgb(33, 32, 32);
    color: white;
}

h1 {
    font-size: 1.6rem;
}

input {
    width: 100%;
    padding-bottom: 5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-radius: .5rem;
}

.flex {
    display: flex;
    gap: 0.5rem;
}

.flex>input {
    width: 8.75rem;
    text-align: center;
    padding: 0.8rem 0.2rem;
}

img {
    padding-top: 1rem;
    width: 6.25rem;
    height: auto;
}

button {
    border: 0;
    width: 100%;
    padding: 0.8rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(36, 150, 237);
}